<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-09-23T11:46:57Z</date>
	<key>WorkspacePath</key>
	<string>/Users/abhishek.singla/Desktop/Abhi/Projects/LearningTestAutomation/IntegrationTestDemo/IntegrationTestDemo.xcodeproj</string>
</dict>
</plist>
